
<div *ngIf="employee">
  <div class="row">
    <div class="col-sm-3">
      <div class="card card-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-info">
          <h3 class="widget-user-username">{{employee.firstName}} {{employee.lastName}}</h3>
          <p class="widget-user-desc">{{employee.emailId}} </p>
        </div>
        <div class="widget-user-image">
          <img  [hidden]="employee.gender==0" class="img-circle elevation-2" src="assets/avatar5.png" alt="User Avatar">
          <img  [hidden]="employee.gender==1" class="img-circle elevation-2" src="assets/avatar2.png" alt="User Avatar">
        </div>
        <div class="card-footer">
          <div class="row">
            <ul class="list-unstyled">
              <li *ngFor="let item of skills">
                <span style="margin: 5px 10px;font-size: 14px;" class="badge badge-lg badge-info">{{ item.skill }}</span>
              </li>
            </ul>
          </div>
          <!-- /.row -->
        </div>
      </div>
    </div>
    <div class="col-md-9">
        <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">About</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <strong><i class="fas fa-book mr-1"></i> Education</strong>

          <p class="text-muted">
            {{employee.qualification}}
          </p>

          <hr>

          <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

          <p class="text-muted">{{employee.address}}</p>

          <hr>
          

          <strong><i class="far fa-file-alt mr-1"></i> About</strong>

          <p class="text-muted">{{employee.about}}</p>
        </div>
        <!-- /.card-body -->
      </div>
  </div>
</div>
<!--
<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Employee List</button><br>
-->